.underLine {
    width: 100%;
    height: 2px;
    /*margin-bottom: 30px;*/
    background-color: #fff;
}

.blog {
    background-color: #007FFF;
}

.section {
    margin-top: 10px;
    box-shadow: 5px 5px 2px #888888;
}

.section .section-inner {
    padding: 20px 30px;
}

.section .heading {
    color: #fff;
    font-size: 16px;
}

.content {
    padding: 30px;
    background-color: white;
    border-bottom: 20px solid #007fff;
}

.pagination {
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.pagination li {
    float: left;
}

.pagination ul {
    float: left;
    left: 50%;
    position: relative;
}

.pagination ul > li {
    left: -50%;
    position: relative;
}

.pagination li a {
    transition: all 100ms ease-in-out 0s;
    background-color: #F7F7F8;
    border-radius: 5px 5px 5px 5px;
    color: #69696E;
    display: block;
    font: 12px/30px Arial, sans-serif;
    height: 30px;
    margin: 0 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

.pagination li a:hover {
    background-color: #007FFF;
    color: #FFFFFF;
}

.pagination li.active a {
    background-color: #007FFF;
    color: #FFFFFF;
}

.pagination li.active a:hover {
    color: #FFFFFF;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.authorName {
    font-family: RobotoBold;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2px;
}

.authorDescription {
    font-family: RobotoRegular;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.authorPosition {
    font-family: RobotoRegular;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.border {
    width: 72px;
    height: 72px;
    border-radius: 49px;
    border-color: #fff;
    margin: auto auto;
}

header {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    position: relative;
    text-align: center;
    color: #001A33;
    width: 100%;
    background-color: #fff;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media (min-width: 34em) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

